[submodule "lib/LED-Strip"]
	path = lib/LED-Strip
	url = https://github.com/Nikfinn99/LED-Strip.git
[submodule "lib/IO-Interface"]
	path = lib/IO-Interface
	url = https://github.com/Nikfinn99/IO-Interface.git
[submodule "lib/Filter"]
	path = lib/Filter
	url = https://github.com/Nikfinn99/Filter.git
[submodule "lib/WiFiConn"]
	path = lib/WiFiConn
	url = https://github.com/Nikfinn99/WiFiConn.git
[submodule "lib/Upload-OTA"]
	path = lib/Upload-OTA
	url = https://github.com/Nikfinn99/Upload-OTA.git
[submodule "lib/SerialStream"]
	path = lib/SerialStream
	url = https://github.com/Nikfinn99/SerialStream.git
[submodule "lib/MQTT_Client"]
	path = lib/MQTT_Client
	url = https://github.com/Nikfinn99/MQTT_Client.git
